<phpunit
    colors="true"
    bootstrap="./tests/bootstrap.php"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Utils">
            <directory>tests/Pegasus/Utils</directory>
            <directory>tests/Pegasus/RegExp</directory>
            <directory>tests/Pegasus/Source</directory>
        </testsuite>
        <testsuite name="Grammar">
            <file>tests/Pegasus/GrammarTest.php</file>
            <directory>tests/Pegasus/Grammar</directory>
        </testsuite>
        <testsuite name="Expressions">
            <file>tests/Pegasus/ExpressionTest.php</file>
            <file>tests/Pegasus/Expression/LiteralTest.php</file>
            <file>tests/Pegasus/Expression/MatchTest.php</file>
            <file>tests/Pegasus/Expression/RegExpTest.php</file>
            <file>tests/Pegasus/Expression/QuantifierTest.php</file>
            <directory>tests/Pegasus/Expression</directory>
        </testsuite>
        <testsuite name="CST">
            <directory>tests/Pegasus/CST</directory>
        </testsuite>
        <testsuite name="Parsers">
            <directory>tests/Pegasus/Parser</directory>
        </testsuite>
        <testsuite name="Optimizations">
            <directory>tests/Pegasus/Optimization</directory>
        </testsuite>
        <testsuite name="MetaGrammar">
            <directory>tests/Pegasus/MetaGrammar</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Debug</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
